@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");
html {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
}

body {
  margin: 0px;
  height: 100%;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding: 0px;
  cursor: pointer;
  font-size: inherit;
}

span {
  display: inline-block;
}

.rounded {
  border-radius: 50%;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.section-header {
  font-size: calc(1.5rem + 1.1979167vw);
  line-height: calc(1.5rem + 1.1979167vw);
  color: #292D32;
}

.note {
  font-weight: 300;
  line-height: 27px;
  color: #838383;
}

.go-to {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.btn-go-to {
  width: 55px;
  height: 55px;
  background-color: #48A4EB;
  color: white;
  font-family: "Circe", sans-serif;
  font-weight: 700;
  margin-right: 12px;
  vertical-align: middle;
}

.text-go-to {
  font-size: 16px;
  font-weight: 400;
  color: #292D32;
  line-height: 30px;
}

.hidden {
  display: none;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA/EuclidCircularA-Light.eot");
  src: local("Euclid Circular A Light"), local("EuclidCircularA-Light"), url("../fonts/EuclidCircularA/EuclidCircularA-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA/EuclidCircularA-Light.woff2") format("woff2"), url("../fonts/EuclidCircularA/EuclidCircularA-Light.woff") format("woff"), url("../fonts/EuclidCircularA/EuclidCircularA-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Euclid Circular A";
  src: url("../fonts/EuclidCircularA/EuclidCircularA-Bold.eot");
  src: local("Euclid Circular A Bold"), local("EuclidCircularA-Bold"), url("../fonts/EuclidCircularA/EuclidCircularA-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/EuclidCircularA/EuclidCircularA-Bold.woff2") format("woff2"), url("../fonts/EuclidCircularA/EuclidCircularA-Bold.woff") format("woff"), url("../fonts/EuclidCircularA/EuclidCircularA-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../fonts/Circe/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe/Circe-Bold.woff") format("woff"), url("../fonts/Circe/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
header {
  background-color: white;
}

.header-container {
  max-width: 1400px;
  padding: 26px 0px;
  margin: 0px auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo-dell {
  max-width: 70px;
  vertical-align: middle;
}

nav {
  display: inline-block;
}
nav ul {
  list-style: none;
  padding: 0px;
  margin: 0px 0px 0px 60px;
}
nav ul > * {
  display: inline-block;
  margin-right: 45px;
}
nav ul > * a {
  text-decoration: none;
  color: #292D32;
  font-size: 15px;
  line-height: 17.58px;
}

.btn-search {
  background-color: transparent;
  margin-left: 5px;
  width: 20px;
  height: 20px;
}
.btn-search img {
  width: 18.42px;
  height: 18.42px;
  vertical-align: bottom;
}

.list-icons {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.list-icons > * {
  width: 49px;
  height: 49px;
}
.list-icons > * button {
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
}

.burger {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: -15px;
  width: 100%;
  padding-right: 30px;
  background-color: white;
}
.burger ul {
  padding: 0px;
  margin: 56px auto 64px 38px;
}
.burger ul > * {
  display: block;
  margin-bottom: 45px;
}
.burger ul > *:last-child {
  margin-bottom: 0px;
}

.profile-menu {
  position: absolute;
  top: calc(100% + 26px);
  width: -moz-fit-content;
  width: fit-content;
  max-height: 389px;
  z-index: 3;
}
.profile-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -26px;
  width: 100%;
  height: 100%;
}

.menu-container {
  position: relative;
  background-color: white;
  border-radius: 20px;
  width: calc(10rem + 10.8854167vw);
}
.menu-container ul {
  font-size: 20px;
  line-height: 30px;
  color: black;
  list-style: none;
  padding: 0px;
  z-index: 3;
}
.menu-container ul li {
  border: 1px solid #F2F2F2;
  border-left: none;
  border-right: none;
  padding: 20px 0px 20px 30px;
}
.menu-container ul li:first-child {
  border: none;
  padding: 30px 0px 30px 30px;
}
.menu-container ul li:last-child {
  border: none;
}
.menu-container ul li a {
  text-decoration: none;
  color: black;
}

.cube-rotated {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 50%;
  border-radius: 2px;
  transform: translate(-50%, -50%) rotateZ(45deg);
  background-color: white;
}

.icon-notif {
  position: relative;
}

.icon-profile {
  width: 18.58px;
}

.ava {
  display: inline-block;
  width: 49px;
  height: 49px;
  background-color: #F9F9F9;
  background-image: url(../images/icon_profile.png);
  background-size: 18.58px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  vertical-align: middle;
  margin-right: 20px;
}

.icon-infographic {
  width: 24px;
  height: 24px;
}

.icon-favorites {
  width: 24px;
  height: 24px;
}

.icon-shopper {
  width: 26px;
  height: 26px;
}

.icon-burger {
  width: 16px;
  height: 18px;
}

.icon-notif-number {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #48A4EB;
  text-align: center;
  line-height: 14.06px;
  cursor: pointer;
}
.icon-notif-number span {
  font-size: 12px;
  font-weight: bold;
  color: white;
  vertical-align: middle;
}

.section-slide {
  background-color: #F2F2F2;
  width: 100%;
  height: calc(25rem + 12.1354167vw);
}

.slide-left-part {
  flex-basis: 73.4895%;
  height: 100%;
  position: relative;
}

.dell-gradient {
  position: absolute;
  width: calc(20rem + 21.1729167vw);
  top: 97.4px;
  left: calc(5rem + 9.375vw);
}

.left-part-container {
  position: relative;
  height: -moz-min-content;
  height: min-content;
  top: 74px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 1;
}

.slide-text-v {
  position: absolute;
  transform-origin: bottom left;
  transform: rotateZ(-90deg) translateY(100%);
  bottom: 158px;
  left: calc(5rem + 9.375vw);
}
.slide-text-v span {
  font-size: 16px;
  font-weight: 300;
  color: #838383;
  line-height: 18.75px;
}
.slide-text-v button {
  width: 38.5px;
  height: 25px;
  border: 2px solid #48A4EB;
  background-color: transparent;
  border-radius: 25.5px;
  vertical-align: middle;
  margin-right: 16.5px;
}
.slide-text-v button div {
  width: 6px;
  vertical-align: middle;
  border: 1px solid #48A4EB;
  float: left;
  margin-left: 9.5px;
  border-left: none;
  border-right: none;
}

.slide-text {
  align-self: flex-start;
  margin-top: calc(3.5rem + 6.04167vw);
  margin-right: 9px;
}
.slide-text p {
  margin: 15px 0px calc(1rem + 2.1875vw);
}

.slide-notebook-new {
  width: calc(15rem + 14.9479166vw);
  margin-right: 60px;
  min-width: 327px;
}

.slide-controller {
  position: absolute;
  bottom: 163px;
  right: -144.5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  z-index: 1;
}
.slide-controller img {
  width: calc(3rem + 2.9427083vw);
  min-width: 64px;
  vertical-align: middle;
}

.slide-circles {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: calc(1.5rem + 2.7604166vw);
}
.slide-circles .circle:last-child {
  margin: 0px;
}

.circle {
  vertical-align: middle;
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #D0D0D0;
  margin-right: 10px;
}

.circle-active {
  width: 9px;
  height: 9px;
  background-color: #292D32;
}

.slide-right-part {
  position: relative;
  flex-basis: 26.5105%;
  height: 100%;
  background-color: #F9F9F9;
}
.slide-right-part img {
  position: absolute;
  width: 100%;
}
.slide-right-part p {
  position: absolute;
  top: 322px;
  left: 40px;
  margin: 0px;
  font-size: 25px;
  color: #292D32;
}

.catalog-container {
  max-width: 1400px;
  margin: 164px auto 180px;
  row-gap: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.catalog-container > * {
  flex-basis: calc(33% - 26.6666666667px);
  min-width: 440px;
  height: calc(10rem + 9.9479167vw);
  background-color: #F2F2F2;
  border-radius: 20px;
  position: relative;
}

.catalog-note {
  background-color: transparent;
}
.catalog-note p {
  margin: 0px 0px 29px;
}
.catalog-note span {
  width: 80%;
}
.catalog-note div {
  margin-top: 46px;
}

.catalog-number {
  position: absolute;
  font-size: 25px;
  font-weight: 100;
  line-height: 37.5px;
  color: #292D32;
  top: 40px;
  left: 40px;
}

.catalog-text {
  display: flex;
  flex-flow: column nowrap;
  margin: 0px 0px 40px 40px;
}

.catalog-name {
  color: #292D32;
  font-size: 25px;
  line-height: 37.5px;
  margin: 5px 0px 0px;
}

.catalog-notebook img {
  width: calc(15rem + 7.552083vw);
  margin: -10px 13px 29px 12px;
}

.catalog-desktop img {
  width: calc(11rem + 3.59375vw);
  margin: -21px 58px 41px 115px;
}

.catalog-server img {
  width: calc(14rem + 4.427083vw);
  margin: 81px 52px 46px 51px;
}

.catalog-emc img {
  width: calc(12rem + 3.802083vw);
  margin: 59px 76px 46px 75px;
}

.catalog-misc img {
  width: calc(13rem + 5.15625vw);
  margin: 38px 30px 13px 87px;
}

.section-advantages {
  background-color: #F2F2F2;
  display: inline-block;
  position: relative;
  width: 100%;
}

.bq-gradient {
  position: absolute;
  max-width: 897px;
  top: 152px;
  left: 10px;
}

.bq-notebook {
  position: absolute;
  max-width: calc(10rem + 36.145833vw);
  top: 87px;
  left: 189px;
}

.bq-text {
  position: absolute;
  top: 183px;
  right: 428px;
}
.bq-text p {
  margin: 0px 0px 37px;
}
.bq-text span {
  line-height: 27px;
  color: #838383;
}
.bq-text div {
  margin-top: 41px;
}

.bq-perks {
  max-width: calc(30rem + 44.791667vw);
  margin: 627px auto 46px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bq-card {
  background-color: #292D32;
  border-radius: 16px;
  flex-basis: calc(25% - 20.25px);
  min-width: 330px;
  height: 289px;
  position: relative;
}

.bq-icon {
  width: 70px;
  height: 70px;
  margin: 30px 0px 25px 30px;
  background-color: #343A41;
  border-radius: 10px;
  text-align: center;
}
.bq-icon:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.bq-icon img {
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.bq-card-blueline {
  position: absolute;
  width: 139.5px;
  top: 0px;
  right: 0px;
}

.bq-card-text {
  margin: 0px 0px 35px 30px;
}
.bq-card-text p {
  font-size: 22px;
  font-weight: 700;
  font-family: "Euclid Circular A", sans-serif;
  color: white;
  line-height: 27.9px;
  margin: 0px 0px 13px;
}
.bq-card-text span {
  font-size: 16px;
  font-weight: 300;
  font-family: "Euclid Circular A", sans-serif;
  color: #B7B7B7;
  line-height: 20.29px;
}

.news-container {
  max-width: 1400px;
  margin: 172px auto 486px;
}

.news-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 69px;
}

.news-text p {
  margin: 0px 0px 25px;
}

.news-details button {
  margin: 0px 0px 0px 17px;
}

.news {
  flex-wrap: wrap;
  justify-content: space-between;
}
.news > * {
  margin: 0px 25px 40px 0px;
}

.news-article {
  position: relative;
  box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.05);
  border-radius: 45px 0px 45px 0px;
}
.news-article img {
  border-top-left-radius: 45px;
  max-width: 415px;
}

.news-date {
  background-color: white;
  color: #292D32;
  text-align: center;
  padding: 25.78px 12.625px;
  border-radius: 15px;
  position: absolute;
  top: 65px;
  right: 0px;
  transform: translateX(50%);
  box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.06);
}
.news-date p {
  margin: 0px;
  font-size: 20px;
  font-weight: 900;
  line-height: 23.44px;
}
.news-date span {
  font-size: 10px;
  font-weight: 300;
  line-height: 11.72px;
}

.news-description {
  background-image: url(../images/news_shape.png);
  background-size: 415px;
  background-repeat: no-repeat;
  padding: 24px 0px 26px 30px;
  margin-top: -41px;
  position: relative;
}
.news-description p {
  font-size: 25px;
  font-weight: 700;
  line-height: 32.5px;
  color: #292D32;
  margin: 0px 0px 11px;
}
.news-description span {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #292D32;
}
.news-description button {
  border: 12px solid white;
  background-color: #292D32;
  position: absolute;
  width: 49px;
  height: 49px;
  box-sizing: content-box;
  bottom: 70px;
  right: 24px;
  margin: 0px;
}

.section-contacts {
  background-color: #F2F2F2;
  width: 100%;
  height: 676px;
  position: relative;
}

.contacts-gradient {
  max-width: 1635px;
  position: absolute;
  top: 184px;
}

.company-form {
  position: relative;
  max-width: 1400px;
  margin: 0px auto;
  bottom: 180px;
  height: 840px;
}

.contacts-company {
  flex-basis: 50%;
  border-radius: 20px 0px 0px 20px;
  background-color: #F9F9F9;
  height: 100%;
}

.contacts-company-container {
  margin: 100px 0px 111.29px 100px;
}

.contacts-header p {
  margin: 0px 0px 18px;
}
.contacts-header span {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.company-header {
  margin-bottom: 48px;
}
.company-header span {
  color: #838383;
}

.contacts-info .info:nth-child(1) {
  margin-bottom: 47px;
}
.contacts-info .info:nth-child(2) {
  margin-bottom: 72px;
}
.contacts-info .info:nth-child(3) {
  margin-bottom: 60px;
}

.info-text {
  display: inline-block;
  margin-left: 17.5px;
  vertical-align: top;
}
.info-text p {
  color: #838383;
  line-height: 24.06px;
  margin: 0px 0px 8px;
}
.info-text span {
  color: #292D32;
  font-size: 22px;
  line-height: 33px;
}

.info-social a:first-child, .footer-social a:first-child {
  margin-right: 18.29px;
}
.info-social img, .footer-social img {
  max-width: 37.11px;
}

.contacts-form {
  background-color: #292D32;
  border-radius: 0px 20px 20px 0px;
  flex-basis: 50%;
  height: 100%;
}

.contacts-form-container {
  margin: 100px 137px 103px 129px;
}
.contacts-form-container form {
  width: 100%;
}
.contacts-form-container form fieldset {
  border: none;
  padding: 0px;
  margin: 0px;
}
.contacts-form-container form [for~=btn-order] {
  font-size: 16px;
  color: white;
  line-height: 30px;
}
.contacts-form-container form button {
  margin-right: 12px;
}

.form-header {
  margin-bottom: 53px;
}
.form-header p {
  color: white;
}
.form-header span {
  color: white;
}

.name,
.number,
.commentary {
  position: relative;
  margin-bottom: 40px;
}
.name label,
.number label,
.commentary label {
  font-weight: 300;
  line-height: 24.06px;
  position: absolute;
  left: 12.75px;
  transform: translateY(-50%);
  padding: 0px 7.5px;
  color: #F2F2F2;
  background-color: #292D32;
}
.name input, .name textarea,
.number input,
.number textarea,
.commentary input,
.commentary textarea {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #F2F2F2;
  width: 100%;
  height: 59.25px;
  padding: 8px 23px;
  border-radius: 20px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1.5px solid rgba(242, 242, 242, 0.5);
}
.name textarea,
.number textarea,
.commentary textarea {
  height: 145.25px;
}

.contacts_iphone {
  position: absolute;
  width: calc(8rem + 7.8645833vw);
  top: 142px;
  left: 50%;
  transform: translateX(calc(-100% + 86.2px));
}

footer {
  position: relative;
}

.footer-dell-gradient {
  position: absolute;
  max-width: 515px;
  top: 50%;
  transform: translateY(-50%);
  right: -36px;
}

.footer-container {
  max-width: 1400px;
  margin: 60px 450px 60px 260px;
}

.footer-rows {
  justify-content: space-between;
  align-items: flex-start;
}

.footer-dell-logo {
  padding-right: 10px;
}
.footer-dell-logo img {
  width: 112px;
}

.footer-row {
  color: rgb(41, 45, 50);
}
.footer-row ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.footer-row ul li {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.footer-row-header {
  font-size: 25px;
  font-weight: 400;
  line-height: 29.3px;
  margin: 0px 0px 15px;
  white-space: nowrap;
}

.footer-contacts {
  max-width: 1400px;
  margin: 0px auto 40px;
  padding-top: 40px;
  border-top: 1px solid #E5E5E5;
  justify-content: space-between;
}

.footer-text p {
  font-size: 16px;
  line-height: 21.39px;
  color: #838383;
  margin: 0px 0px 11px;
}

.x375 {
  display: none !important;
}

@media all and (max-width: 375px) {
  .x1920 {
    display: none !important;
  }
  .x375 {
    display: inline-block !important;
  }
  .flex {
    flex-flow: column nowrap;
  }
  .flex > * {
    width: 100%;
  }
  .section-header {
    font-size: 30px;
    line-height: 35.16px;
  }
  .note {
    font-size: 15px;
    line-height: 22.5px;
    color: #838383;
  }
  .btn-go-to {
    width: 45px;
    height: 45px;
    margin-right: 15px;
  }
  .text-go-to {
    font-size: 15px;
  }
  .header-container {
    max-width: 345px;
    padding: 15px 0px;
  }
  .logo-nav-container {
    -moz-column-gap: 67px;
         column-gap: 67px;
  }
  .list-icons {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .logo-dell {
    max-width: 60px;
  }
  .btn-search {
    margin-left: 0px;
  }
  .list-icons {
    -moz-column-gap: 15px;
         column-gap: 15px;
  }
  .list-icons li {
    width: 46px;
    height: 46px;
  }
  .icon-profile {
    width: 17.44px;
  }
  .icon-shopper {
    width: 24.49px;
    height: 24.49px;
  }
  .section-slide {
    height: calc(30rem + 66.4vw);
  }
  .slide-left-part {
    width: 100%;
    flex-basis: 75.15843%;
    max-height: 593px;
  }
  .dell-gradient {
    width: 293px;
    top: 18px;
    left: 32px;
  }
  .left-part-container {
    top: 80px;
    flex-flow: column nowrap;
    align-items: flex-start;
  }
  .slide-text {
    margin: 0px 0px 10px 15px;
  }
  .slide-text p {
    margin: 5px 0px 28px;
  }
  .slide-notebook-new {
    margin-left: 23px;
  }
  .slide-controller {
    bottom: 20px;
    right: 15px;
  }
  .slide-controller img {
    width: 64px;
  }
  .slide-circles {
    margin-right: 39px;
  }
  .circle {
    width: 3px;
    height: 3px;
  }
  .circle-active {
    width: 5px;
    height: 5px;
  }
  .slide-right-part {
    width: 100%;
    flex-basis: 24.84157%;
    max-height: 196px;
  }
  .slide-right-part img {
    width: 252px;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
  }
  .slide-right-part p {
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    line-height: 26px;
  }
  .catalog-container {
    margin: 120px auto;
    max-width: 345px;
    row-gap: 20px;
  }
  .catalog-container > * {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    min-width: auto;
  }
  .catalog-note span {
    width: auto;
  }
  .catalog-note div {
    margin: 30px 0px 20px;
  }
  .catalog-number {
    font-size: 20px;
    line-height: 30px;
    top: 20px;
    left: 20px;
  }
  .catalog-text {
    margin: 0px 0px 20px 20px;
  }
  .catalog-goods {
    font-size: 25px;
    line-height: 20.05px;
  }
  .catalog-name {
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
  }
  .catalog-notebook img {
    min-width: 302px;
    margin: 15px 22px 14px 21px;
  }
  .catalog-desktop img {
    max-width: 210px;
    margin: 10.53px 36px 15px 99px;
  }
  .catalog-server img {
    max-width: 264.24px;
    margin: 63.51px 40.77px 50.07px 39.99px;
  }
  .catalog-emc img {
    max-width: 226.2px;
    margin: 46.26px 59.59px 51.07px 58.81px;
  }
  .catalog-misc img {
    max-width: 253.26px;
    margin: 29.8px 23.52px 23.19px 68.22px;
  }
  .bq-gradient {
    max-width: 335px;
    top: 373px;
    left: 14px;
  }
  .bq-notebook {
    max-width: 345px;
    top: 283px;
    left: 76px;
  }
  .bq-text {
    width: 336px;
    top: 101px;
    left: 15px;
  }
  .bq-text p {
    margin: 0px 0px 20px;
    line-height: 50px;
  }
  .bq-text span {
    font-size: 15px;
    line-height: 22.5px;
  }
  .bq-text div {
    margin-top: 30px;
  }
  .bq-perks {
    max-width: 345px;
    margin: 517px auto 115px;
    row-gap: 17px;
  }
  .bq-icon {
    width: 50px;
    height: 50px;
    margin: 15px 0px 15px 15px;
    border-radius: 9px;
  }
  .bq-icon img {
    width: 30px;
    height: 30px;
  }
  .bq-card-blueline {
    width: 121px;
    height: 64px;
  }
  .bq-card-text {
    margin: 0px 0px 18px 15px;
  }
  .bq-card-text p {
    font-size: 18px;
    line-height: 22.82px;
  }
  .news-container {
    max-width: 345px;
    margin: 120px auto;
  }
  .news-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    margin-bottom: 39px;
  }
  .news-text p {
    margin: 0px 0px 20px;
  }
  .news-details {
    margin-top: 30px;
  }
  .news-details button {
    margin: 0px 15px 0px 0px;
  }
  .news {
    justify-content: flex-start;
  }
  .news > * {
    margin: 0px 0px 20px 0px;
  }
  .news-article img {
    max-width: 324px;
  }
  .news-date {
    padding: 21.62px 9.105px 16.02px;
    top: 54px;
    transform: none;
  }
  .news-date p {
    margin: 0px;
    font-size: 18px;
    font-weight: 900;
    line-height: 12.9px;
  }
  .news-date span {
    line-height: 7.17px;
  }
  .news-description {
    background-size: 324px;
    padding: 21px 0px 20px 20px;
    margin-top: -41px;
  }
  .news-description p {
    font-size: 25px;
    line-height: 25px;
    margin: 0px 0px 10px;
  }
  .news-description button {
    border: 12px solid white;
    background-color: #292D32;
    position: absolute;
    width: 38.18px;
    height: 38.18px;
    box-sizing: content-box;
    bottom: 60px;
    right: 36px;
    margin: 0px;
  }
  .section-contacts {
    background-color: transparent;
    height: auto;
  }
  .company-form {
    width: 100%;
    position: static;
    height: auto;
  }
  .contacts-company,
  .contacts-form {
    flex-basis: auto;
    border-radius: 0px;
    height: auto;
  }
  .contacts-company-container {
    margin: 100px 0px 60px 30px;
  }
  .contacts-header p {
    margin: 0px 0px 15px;
    line-height: 50px;
  }
  .contacts-header span {
    font-size: 15px;
    line-height: 22.5px;
  }
  .company-header {
    margin-bottom: 40.46px;
  }
  .contacts-info .info:nth-child(1) {
    margin-bottom: 30px;
  }
  .contacts-info .info:nth-child(2) {
    margin-bottom: 30px;
  }
  .contacts-info .info:nth-child(3) {
    margin-bottom: 30.48px;
  }
  .info img {
    width: 18px;
    height: 18px;
  }
  .info-text {
    margin-left: 10px;
    vertical-align: top;
  }
  .info-text p {
    line-height: 20.05px;
    font-size: 15px;
    margin: 0px 0px 0px;
  }
  .info-text span {
    font-size: 18px;
    line-height: 27px;
  }
  .info-social a:first-child, .footer-social a:first-child {
    margin-right: 12.68px;
  }
  .info-social img, .footer-social img {
    width: 26.16px;
    height: 26.16px;
  }
  .contacts-form-container {
    margin: 60px 30px;
  }
  .contacts-form-container form [for~=btn-order] {
    font-size: 15px;
  }
  .contacts-form-container form button {
    margin-right: 15px;
  }
  .form-header {
    margin-bottom: 50px;
  }
  .form-header p {
    font-size: 30px;
    font-weight: 400;
    line-height: 35.16px;
  }
  .form-header span {
    white-space: nowrap;
  }
  .name label,
  .number label,
  .commentary label {
    font-size: 15px;
    font-weight: 300;
    line-height: 20.05px;
    padding: 0px 10px;
  }
  .name input, .name textarea,
  .number input,
  .number textarea,
  .commentary input,
  .commentary textarea {
    font-size: 16px;
    width: 100%;
    height: 40px;
    padding: 7px 23px;
    border-radius: 10px;
    border: 1px solid #8E9092;
  }
  .name textarea,
  .number textarea,
  .commentary textarea {
    height: 80px;
  }
  .commentary {
    margin-bottom: 30px;
  }
  .contacts_iphone {
    width: 179.29px;
    top: 411px;
    left: 174px;
  }
  footer {
    background-color: #F2F2F2;
    display: inline-block;
  }
  .footer-dell-gradient {
    position: absolute;
    max-width: 215px;
    top: auto;
    bottom: 15.67px;
    right: 16px;
    transform: none;
  }
  .footer-container {
    max-width: 100%;
    margin: 30.55px 37px 30px 16px;
  }
  .footer-rows {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 30px;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
  .footer-dell-logo {
    flex-basis: 100%;
    text-align: center;
    padding: 0px;
  }
  .footer-dell-logo img {
    width: 70px;
    height: 70px;
  }
  .footer-row ul li {
    font-size: 15px;
    line-height: 17.58px;
    white-space: normal;
    margin-right: 0px;
  }
  .row-catalog {
    order: 4;
  }
  .row-catalog ul {
    display: flex;
    flex-flow: column wrap;
    row-gap: 10px;
    max-height: 74px;
  }
  .row-catalog ul li {
    font-size: 15px;
    line-height: 15px;
    white-space: normal;
    margin: 0px;
    order: 3;
  }
  .row-catalog ul li:nth-child(2) {
    order: 1;
  }
  .row-catalog ul li:nth-child(5) {
    order: 2;
  }
  .row-catalog ul li:nth-child(1) {
    order: 3;
  }
  .row-catalog ul li:nth-child(3) {
    order: 4;
  }
  .row-catalog ul li:nth-child(4) {
    order: 5;
  }
  .row-profile {
    flex-basis: fit-content;
    order: 3;
  }
  .row-support {
    flex-basis: fit-content;
    order: 2;
  }
  .footer-row-header {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.09px;
    white-space: nowrap;
  }
  .footer-contacts {
    max-width: 345px;
    padding-top: 30px;
    margin: 0px auto 30px;
  }
  .footer-text {
    margin-bottom: 20px;
  }
  .footer-text p {
    font-size: 15px;
    line-height: 20.05px;
    color: #838383;
    margin: 0px;
  }
  .footer-email {
    order: 3;
  }
  .footer-number {
    order: 2;
  }
  .footer-social {
    order: 4;
    margin-top: 10px;
  }
  .footer-social a img {
    width: 30.18px;
    height: 30.18px;
  }
}/*# sourceMappingURL=style.css.map */